.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7) ,rgba(8,8,58,0.7)), url(../../../edusity_assets/hero.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.hero{
    text-align: center;
    padding-top: 180px;
}
.hero-title{
    font-size: 60px;
}
.hero-text{
    font-size: 15px;
}
.cta2{
    outline: none;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;

}
.cta2 img{
     width: 20px;
     margin-left: 10px;
}
/*  */

@media (max-width: 1095px){
  .hero-title{
    font-size: 40px;
  }
  .hero-text{
    font-size: 10px;
}
.hero{
    text-align: center;
    padding-top: 150px;
}
.cta2{
    outline: none;
    border: none;
    padding: 9px 15px;
    border-radius: 25px;
    cursor: pointer;

}
}
@media (max-width: 985px){

    
}
@media (max-width: 895px){
    .hero{
        text-align: center;
        padding-top: 100px;
    }
    .hero-title{
        font-size: 30px;
      }
      .hero-text{
        font-size: 8px;
    }
    .cta2{
        outline: none;
        border: none;
        padding: 7px 12px;
        border-radius: 25px;
        cursor: pointer;
    
    }
   
}
@media (max-width: 695px){
    .hero{
        text-align: center;
        padding-top: 100px;
    }
    .hero-title{
        font-size: 20px;
      }
      .hero-text{
        font-size: 5px;
    }
    .cta2{
        outline: none;
        border: none;
        padding: 5px 9px;
        border-radius: 25px;
        cursor: pointer;
    
    }
   
}

