nav{
/* background: #333; */
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 10;
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px;}
nav::after{
    background-color: blue;
}
.logo{
    width: 182px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    color: white;
    padding-top: 15px;
    font-size: 16px;
    cursor: pointer;

}
.navlinks{
    padding-right: 10%;
    padding-left: 10%;
}
.cta-nav{
    outline: none;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: black;
    text-decoration: none;

}
.dark-nav{
    background-color: #212EA0;
    transition: 0.5s;
}

.hide_mobile_menu{
    right: -200px;
}
.menu_icon{
    display: none;
    width: 30px;
    cursor: pointer;
}
/* hero */

@media (max-width: 1095px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width: 985px){
    
   
    nav ul li{
        margin: 5px 10px;
    }
    
}
@media (max-width: 895px){
    nav{
        width: 20px 0;
        padding: 10px;

    }
    .menu_icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    nav ul{
    position:  fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    z-index: -1;
    padding-top: 70px;
    transition: 0.5s;
    background-color: #212EA0;

    }
    nav ul li{
        display: block;
        padding: 10px 20px;
    }
    .cta-nav{
        padding: 10px 5px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
         padding-right: 5%; 
    }
}